.ChatroomContainer {
  width: 100%;
}

.ChatroomBox {
  max-width: 1280px;
  margin: 5% 0;
  height: 65vh;
  background-color: #60e6d9;
  border: 1.5px solid #8b8282;
  display: grid;
  padding-bottom: 10px;
  overflow-x: auto;
}

.SendMessageUI input[type='text'] {
  font-size: 16px;
  padding-left: 5px;
  height: 30px;
  margin-top: 10px;
}

.SendMessageUI button {
  cursor: pointer;
  margin-right: 5px;
  border-radius: 4px;
  font-size: 16px;
}

.SendMessageUI button:hover {
  background-color: #4d4c4c;
  color: #fbfb00;
}

.SendMessageUI {
  display: grid;
  grid-template-columns: 5fr 1fr;
}

.UsernameColor {
  font-weight: 500;
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .ChatroomBox {
    height: 65vh;
  }
}

/* For mobile (landscape) */

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .ChatroomBox {
    height: 50vh;
  }
}

/* For tablet */

@media only screen and (min-width: 768px) and (max-width: 979px) {
  .ChatroomBox {
    height: 50vh;
  }
}
