.ChatroomContainer {
  width: 100%;
}

.ChatroomBox {
  max-width: 1280px;
  margin: 40px 0;
  height: 70vh;
  background-color: #f5f5f5;
  border: 1.5px solid #8b8282;
  display: grid;
  padding-bottom: 10px;
  overflow-x: auto;
}

.SendMessageUI input[type='text'] {
  font-size: 16px;
  margin-left: 5px;
  padding-left: 5px;
  height: 30px;
}

.SendMessageUI button {
  cursor: pointer;
  margin-right: 5px;
  border-radius: 4px;
  font-size: 16px;
}

.SendMessageUI button:hover {
  background-color: #4d4c4c;
  color: #fbfb00;
}

.SendMessageUI {
  display: grid;
  grid-template-columns: 5fr 1fr;
}

.UsernameColor {
  font-weight: 500;
}
